<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elimininar la marca de equipo</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <%- include('../partials/header') %>

    <h1>Elimininar el equipo (<%= marca.codigo %>)</h1>
    <form action="/deletemarca" method="post">

        <input type="hidden" name="codigo" value="<%= marca.codigo %>">

        <label for="">Nombre de la marca del equipo</label>
        <input type="text" name="nombre" id="nombre" value="<%= marca.nombre %>" readonly>

        <button type="submit" class="logout-btn">Eliminar la marca del equipo <i class="fas fa-trash-alt"></i></button>
    </form>

    <%- include('../partials/footer') %>
</body>

</html>