<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear equipo</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <header>
        <a href="/menu" class="btn btn-secondary">Volver al menú <i class="fas fa-arrow-left"></i></a>
        <a href="/logout" class="logout-btn">Cerrar Sesión <i class="fas fa-sign-out-alt"></i></a>
    </header>

    <h1>Actualizar Equipo</h1>
    <form action="/actualizarequipo" method="post">
        <label for=""> Id</label>
        <input type="text" name="codigo" id="codigo" value="<%= equipo.codigo %>" readonly>

        <label for="">Número de serie</label>
        <input type="text" name="numero_serie" id="numero_serie" value="<%= equipo.numero_serie %>" required>

        <label for="marca">Marca</label>
        <select name="marca" id="marca" value="<%= equipo.marca %>" required>
            <% marcas.forEach((marca)=> { %>
                <option value="<%= marca.nombre %>">
                    <%= marca.nombre %>
                </option>
                <% }); %>
        </select>

        <label for="">Modelo</label>
        <input type="text" name="modelo" id="modelo" value="<%= equipo.modelo %>" required>

        <label for="">Descripción</label>
        <input type="text" name="descripcion" id="descripcion" value="<%= equipo.descripcion %>" required>

        <label for="">Estado</label>
        <select name="estado" id="estado" required>
            <option value="INGRESADO">Ingresado</option>
            <option value="DISPONIBLE">Disponible</option>
            <option value="EN_REPARACION">En reparación</option>
            <option value="DESCARTADO">Descartado</option>
        </select>

        <label for="tipo_equipo" value="<%= equipo.tipo_equipo %>">Tipo de equipo</label>
        <select name="tipo_equipo" id="tipo_equipo">
            <% tipos.forEach((dato)=> { %>
                <option value="<%= dato.nombre %>">
                    <%= dato.nombre %>
                </option>
                <% }); %>
        </select>

        <label for="usuario">Propietario</label>
        <select name="usuario" id="usuario">
            <% usuario.forEach((dato)=> { %>
                <option value="<%= dato.codigo %>">
                    <%= dato.nombre %>
                </option>
                <% }); %>
        </select>

        <button type="submit" class="btn btn-success">Actualizar Equipo <i class="fas fa-save"></i></button>
    </form>
</body>

</html>