<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de equipos</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <header>
        <a href="/menu" class="btn btn-secondary">Volver al menú <i class="fas fa-arrow-left"></i></a>
        <a href="/logout" class="logout-btn">Cerrar Sesión <i class="fas fa-sign-out-alt"></i></a>
    </header>

    <h1>Lista de equipos</h1>

<<<<<<< HEAD
    <% if (tipoUsuario !== 'Usuario_Final' && tipoUsuario !== 'Tecnico') { %>
        <a href="/crearequipo">Crear equipo</a>
        <a href="/tipo_equipo">Ver los tipos de equipos</a>
        <a href="/marca">Ver la marca de los equipos</a>
    <% } %>

    <table>
=======
    <div class="action-buttons">
        <a href="/crearequipo" class="btn btn-success">Crear equipo <i class="fas fa-plus"></i></a>
        <a href="/tipo_equipo" class="btn btn-info">Ver los tipos de equipos  <i class="fas fa-laptop"></i></a>
        <a href="/marca" class="btn btn-info">Ver la marca de los equipos <i class="fas fa-tag"></i></a>
    </div>

    <table class="enhanced-table">
>>>>>>> bb9556bc0096896b4629e56eeb1a2eb2938661ab
        <thead>
            <tr>
                <th>Código</th>
                <th>Número de serie</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Tipo de equipo</th>
<<<<<<< HEAD
                <th>Nombre de usuario</th>
                <% if (tipoUsuario !== 'Usuario_Final') { %>
                    <th></th>
                    <th></th>
                    <th></th>
                <% } %>
=======
                <th>Cliente</th>
                <th></th>
                <th></th>
                <th></th>
>>>>>>> bb9556bc0096896b4629e56eeb1a2eb2938661ab
            </tr>
        </thead>
        <tbody>
            <% equipo.forEach((dato) => { %>
                <tr>
<<<<<<< HEAD
                    <td><%= dato.codigo %></td>
                    <td><%= dato.numero_serie %></td>
                    <td><%= dato.marca %></td>
                    <td><%= dato.modelo %></td>
                    <td><%= dato.descripcion %></td>
                    <td><%= dato.estado %></td>
                    <td><%= dato.tipo_equipo %></td>
                    <td><%= dato.nombre_usuario %></td>
                    <% if (tipoUsuario !== 'Usuario_Final' && tipoUsuario !== 'Tecnico') { %>
                        <td><a href="/verequipo/<%= dato.codigo %>">Ver</a></td>
                        <td><a href="/editarequipo/<%= dato.codigo %>">Editar</a></td>
                        <td><a href="/descartarequipo/<%= dato.codigo %>">Descartar</a></td>
                    <% } %>
=======
                    <td>
                        <%= dato.codigo %>
                    </td>
                    <td>
                        <%= dato.numero_serie %>
                    </td>
                    <td>
                        <%= dato.marca %>
                    </td>
                    <td>
                        <%= dato.modelo %>
                    </td>
                    <td>
                        <%= dato.descripcion %>
                    </td>
                    <td>
                        <%= dato.estado %>
                    </td>
                    <td>
                        <%= dato.tipo_equipo %>
                    </td>
                    <td>
                        <%= dato.nombre %>
                    </td>
                    <div class="actions-container">
                        <td><a href="/verequipo/<%= dato.codigo %>" class="btn-action btn-view" title="Ver"><i class="fas fa-eye"></i></a></td>
                        <td><a href="/actualizarequipo/<%= dato.codigo %>" class="btn-action btn-edit" title="Editar"><i class="fas fa-edit"></i></a></td>
                        <td><a href="/descartarequipo/<%= dato.codigo %>" title="Desactivar"><i class="fas fa-user-slash"></i></a></td>
                    </div>
>>>>>>> bb9556bc0096896b4629e56eeb1a2eb2938661ab
                </tr>
                <% }) %>
        </tbody>
    </table>
</body>

</html>
