<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignar equipo</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <header>
        <a href="/menu" class="btn btn-secondary">Volver al menú <i class="fas fa-arrow-left"></i></a>
        <a href="/logout" class="logout-btn">Cerrar Sesión <i class="fas fa-sign-out-alt"></i></a>
    </header>

    <h1>Asignar equipo</h1>
    <form action="/saveasignacion_equipo" method="post">

        <label for="equipo_codigo">Equipo</label>
        <select name="equipo_codigo" id="equipo_codigo" required>
            <% if (equipos.length> 0) { %>
                <% equipos.forEach(equipo=> { %>
                    <option value="<%= equipo.codigo %>">
                        <%= equipo.equipo %>
                    </option>
                    <% }); %>
                        <% } else { %>
                            <option value="" disabled selected>No hay equipos disponibles</option>
                            <% } %>
        </select>

        <label for="tecnico_codigo">Técnico</label>
        <select name="tecnico_codigo" id="tecnico_codigo" required>
            <% if (tecnicos.length> 0) { %>
                <% tecnicos.forEach(tecnico=> { %>
                    <option value="<%= tecnico.codigo %>">
                        <%= tecnico.tecnico %>
                    </option>
                    <% }); %>
                        <% } else { %>
                            <option value="" disabled selected>No hay técnicos disponibles</option>
                            <% } %>
        </select>


        <input type="hidden" name="fecha_asignacion"
            value="<%= new Date().toLocaleString('sv-SE', { timeZone: 'America/Tegucigalpa' }).replace(' ', 'T') %>"
            required>

        <input type="hidden" name="estado" id="estado" value="ACTIVO">

        <button type="submit" class="btn btn-success">Asignar equipo <i class="fas fa-plus"></i></button>
    </form>

</body>

</html>