<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignaciones de los equipos</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<header>
    <div><a href="/menu">Volver al menú</a></div>
    <a href="/logout" class="logout-btn">Cerrar Sesión</a>
</header>

<body>
    <h1>Asignaciones de los equipos</h1>
    <a href="/crearasignacion">Asignar equipo a tecnico</a>
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Equipo</th>
                <th>Técnico</th>
                <th>Fecha de asignación</th>
                <th>Estado</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% asignacion_equipo.forEach((dato)=>{ %>
                <tr>
                    <td>
                        <%= dato.codigo %>
                    </td>
                    <td>
                        <%= dato.equipo %>
                    </td>
                    <td>
                        <%= dato.tecnico %>
                    </td>

                    <td>
                        <%= dato.fecha_asignacion %>
                    </td>
                    <td>
                        <%= dato.estado %>
                    </td>
                    <td><a href="/verequipo/<%= dato.codigo %>">Ver</a></td>
                    <td><a href="/editarequipo/<%= dato.codigo %>">Editar</a></td>
                    <td><a href="/desactivarequipo/<%= dato.codigo %>">Finalizar</a></td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</body>

</html>