<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activar usuario</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<header>
    <div><a href="/menu">Volver al menú</a></div>
    <a href="/logout" class="logout-btn">Cerrar Sesión</a>
</header>

<body>
    <h1>Activar usuario de <%= usuario.nombre %> <%= usuario.apellido %> (<%= usuario.codigo %>)</h1>
    <form action="/enableusuario" method="POST">

        <input type="hidden" name="codigo" id="codigo" value="<%= usuario.codigo %>">

        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" value="<%= usuario.nombre %>" readonly>

        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido" value="<%= usuario.apellido %>" readonly>

        <label for="correoelectronico">Correo Electrónico</label>
        <input type="email" name="correoelectronico" id="correoelectronico" value="<%= usuario.correoelectronico %>" readonly>

        <label for="telefono">Telefono</label>
        <input type="tel" name="telefono" id="telefono" value="<%= usuario.telefono %>" readonly>
        
        <label for="tipo">Tipo de usuario</label>
        <input type="text" name="tipo" id="tipo" value="<%= usuario.tipo %>" readonly>

        <button type="submit">Activar</button>
        <a href="/usuariosdes">Cancelar</a>
    </form>
</body>
</html>