<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar usuario</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <%- include('../partials/header') %>

    <h1>Editar usuario de <%= usuario.nombre %>
            <%= usuario.apellido %> (<%= usuario.codigo %>)</h1>
    <form action="/editusuario" method="POST">

        <input type="hidden" name="codigo" id="codigo" value="<%= usuario.codigo %>">

        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" value="<%= usuario.nombre %>">

        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido" value="<%= usuario.apellido %>" required>

        <label for="correoelectronico">Correo Electrónico</label>
        <input type="email" name="correoelectronico" id="correoelectronico" value="<%= usuario.correoelectronico %>"
            required>

        <label for="contrasena">Contraseña</label>
        <input type="password" name="contrasena" id="contrasena" value="<%= usuario.contrasena%>" required>

        <label for="telefono">Telefono</label>
        <input type="tel" name="telefono" id="telefono" value="<%= usuario.telefono %>" required>

        <label for="fecha_nacimiento">Fecha de nacimiento</label>
        <input type="date" name="fecha_nacimiento" id="fecha_nacimiento"
            value="<%= usuario.fecha_nacimiento ? usuario.fecha_nacimiento.toISOString().split('T')[0] : '' %>"
            required>

        <label for="">Género</label>
        <select name="genero" id="genero">
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
        </select>

        <input type="hidden" name="estado" id="estado" value="<%= usuario.estado %>">

        <label for="tipo">Tipo de usuario</label>
        <select name="tipo" id="tipo">
            <% tipos.forEach((dato)=> { %>
                <option value="<%= dato.nombre %>">
                    <%= dato.nombre %>
                </option>
                <% }); %>
        </select>

        <button type="submit" class="btn btn-success">Actualizar <i class="fas fa-save"></i></button>
        <a href="/usuarios" class="btn btn-secondary">Cancelar <i class="fas fa-times"></i></a>
    </form>

    <%- include('../partials/footer') %>
</body>

</html>