<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de usuarios</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<header>
    <div><a href="/menu">Volver al menú</a></div>
    <a href="/logout" class="logout-btn">Cerrar Sesión</a>
</header>

<body>
    <h1>Lista de usuarios</h1>

    <% if (tipoUsuario === 'Administrador') { %>
        <a href="/crearusuario">Crear usuario</a>
        <a href="/usuariosdes">Ver usuarios desactivados</a>
    <% } %>
    
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo Electrónico</th>
                <th>Telefono</th>
                <th>Fecha de nacimiento</th>
                <th>Género</th>
                <th>Estado</th>
                <th>Tipo</th>
                <th></th>
                <% if (tipoUsuario === 'Administrador') { %>
                    <th></th>
                    <th></th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% usuario.forEach((dato) => { %>
                <tr>
                    <td><%= dato.codigo %></td>
                    <td><%= dato.nombre %></td>
                    <td><%= dato.apellido %></td>
                    <td><%= dato.correoelectronico %></td>
                    <td><%= dato.telefono %></td>
                    <td><%= dato.fecha_nacimiento %></td>
                    <td><%= dato.genero %></td>
                    <td><%= dato.estado %></td>
                    <td><%= dato.tipo %></td>
                    <td><a href="/verusuario/<%= dato.codigo %>">Ver</a></td>
                    <% if (tipoUsuario === 'Administrador') { %>
                        <td><a href="/editarusuario/<%= dato.codigo %>">Editar</a></td>
                        <td><a href="/desactivarusuario/<%= dato.codigo %>">Desactivar</a></td>
                    <% } %>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>

</html>
